body{
  background-color: #252525;
}

/* Nav css */
.nav-item{
  padding: 0 40px;
  letter-spacing: .5px;
}

.nav-item a{
  color: rgb(255, 255, 255);
}

/* font css and font size*/
.logoFont{
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
}

.firstFont{
  font-family: 'Roboto Slab', serif;
}

.projectFont{
  font-family: 'Anton', sans-serif;
}

.aboutFont{
  font-family: 'DM Serif Text', serif;
}

.projectDescFont{
  font-size: 1.2em;
}

.projectHeader{
  font-size: 2.5em;
}


.fab{
  font-size: 1em;
}

.fas{
  font-size: 1em;
}

.aboutHeader{
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 400;
}


/* first section css */
/* .waveSection{
  background: url("img/wave.svg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -999;
    } */

.firstSection {
  height: 100vh;
  /* background: url("img/wave.svg");
  background-position: bottom;
  background-size: cover; */
  z-index: -1;
}

.firstSection-right{
  background: url("img/illuslanding.png");
  background-position: right -65px top 10px;
  background-size: 520px;
  height: 100%;
  background-repeat: no-repeat;

    }

.firstSection-left {
  /* background: url("img/wave.svg");
  background-position: bottom;
  background-size: cover; */
  max-width: 60%;
  margin-top: -100px;
}

.list-inline-item a{
  color: rgb(255, 255, 255);
}

.list-inline-item span {
  box-shadow: 0 50px 100px rgba(255, 255, 255, 0.05), 0 15px 35px rgba(255, 255, 255, 0.1), 0 5px 15px rgba(255, 255, 255, 0.1);
}

.linkButton a{
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
}




#typed{
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
  font-weight: 400;
 background: -webkit-linear-gradient(#d9dce3, #ffffff);
 background: -o-linear-gradient(#d9dce3, #ffffff);
 background: linear-gradient(#d9dce3, #ffffff);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

#projectNav:hover{
  background: -webkit-linear-gradient(#30d9de, #52e3c4);
  background: -o-linear-gradient(#30d9de, #52e3c4);
  background: linear-gradient(#30d9de, #52e3c4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease-in-out 250ms;
}
#leftLink{
  border-radius: 50%;
border: 2px solid #333131;
padding: 7px 12px 10px;
transition: 0.4s;
}

#leftLink:hover {
  background: -webkit-linear-gradient(#30d9de, #52e3c4);
  background: -o-linear-gradient(#30d9de, #52e3c4);
  background: linear-gradient(#30d9de, #52e3c4);
  transition: all ease-in-out 250ms;
  color: rgb(255, 255, 255);
}

#ball {
     width: 40px;
     height: 40px;
     background: none;
     border: 2px solid grey;
     border-radius: 50%;
     position: absolute;
     left: 50%;
     top: 50%;
     margin: -10px 0 0 -10px;
     pointer-events: none;
}


.parallax--bg {
  background:  linear-gradient(
          rgba(255, 255, 255, 0.79),
          rgba(255, 255, 255, 1)
        ), url(img/thumbnail1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: -15px;
  margin-right: -15px;
  height: 800px;
  opacity: 0.9;
  /*
  fixed= parallax
  scroll = normal
  */
}

.about-section h3 {
  font-size: 2.8em;
  font-weight: 400;
}

.about-section p {
  font-size: 1.1em;
  font-weight: 400;
}

/* third section and first project css */

.thirdSection {

}


.carousel-control-next i{
  color: rgb(255, 255, 255);
}

.carousel-control-prev i{
  color: rgb(255, 255, 255);
}


/* .firstProject{
  width: 1000px;
  box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
} */


.video-wrap video {
  max-height: 55vh;
  /* margin-left: -175px !important; */
  /* margin-top: -10px !important; */
  z-index: -999;
}

.video-wrap-1 video {
  max-height: 65vh;
  margin-top: -30px !important;
  z-index: -999;
}

.video-wrap-3 video {
  max-height: 65vh;
  margin-left: -175px !important;
  margin-top: -10px !important;
  z-index: -999;
}



/* second project css */

.getInTouch{
  height: 400px;
}

/* Responsive 1366 */
@media only screen and (min-width : 1366px) {


  .firstSection-right{

    background-position: right -45px top 10px;
    background-size: 480px;
      }

}

/* Responsive 1280 */
@media only screen and (min-width : 1280px) {


  .firstSection-right{

    background-position: right -35px top 15px;
    background-size: 460px;
      }

  .projectHeader{
    font-size: 2.2em;
      }

  .projectDescFont{
    font-size: 1em;
      }
}

/* Responsive 1080 */
@media only screen and (min-width : 1080px) {


  .firstSection-right{

    background-position: right -10px top 40px;
    background-size: 400px;
      }

  .projectHeader{
    font-size: 2em;
      }

  .projectDescFont{
    font-size: 1em;
      }

  .aboutHeader{
    font-size: 1.2em;
      }
}
